@font-face {
    font-family: Rajdhani-Bold;
    src: url('/public/styles/fonts/Rajdhani-Bold.ttf');
}
@font-face {
  font-family: Rajdhani-Light;
  src: url('/public/styles/fonts/Rajdhani-Light.ttf');
}

.title{
    background-image: linear-gradient(45deg , white 5% , #c5c5c5 50%, white  ) ;
    border: solid 4px #2c3e50;
    padding: 1px;
    border-radius: 0px 0px 15px 15px;
}
.title img{
    height:75px;
}

.db{
    display: flex; /* align .db1|.db2 */
    flex-wrap: wrap;
    justify-content: center;
    min-height: 500px; /* changing limit / deleting makes the next .title go up and down */
}

.db .db1{
    background-color: white;
    max-height: 500px;
    min-height: 90px; /* 'No Data!!' shows timeF out of bounds (optional ?)*/
    flex: 1;
    display:flex; /* align .time|.data */ 
}

.db1 .time{
    font-family: Rajdhani-Regular, sans-serif;
    font-size: 1.2rem;
    border: solid 2px;
    border-right: solid 0px;
    border-radius: 9px 0px 0px 0px;
    width:30px;
}
.db1 .time div{
    transform: rotateZ(90deg) translateX(30%);
    white-space: nowrap;
    font-weight: bold;
}
.db1 .time .timef{
    letter-spacing: 10px;
}
.db1 .time .ms{
    font-size: 0.8rem;
}

.db1 .data{
    overflow: auto;
    border: solid 1px;
    background-color: black;
}
.db1 .loading{
    color: white;
}
.db1 .nodata{
    font-family: Rajdhani-Regular, sans-serif;
    color: white;
    letter-spacing: 1.2rem;
}

table{
    border-collapse: collapse;
}
.db1 .data , .db1 .data table{
    width:100%; /* makes the table columns responsive because .db{display:flex} and .db2 is fixed */
    
}
.db1 table td{
    font-family: Rajdhani-Regular, sans-serif;
    font-weight: bold;
    border: solid 1px;
    color:rgb(61, 61, 61);
}
.db1 table td img{
    background-color: black;
    width: 40px;
    height: 40px;
    border: solid 1px;
}

.db1 table th{
    font-family: Rajdhani-Regular, sans-serif;
    text-shadow: 0px 0px 3px blue;
    font-size: 1.1em;
    background-image: linear-gradient(180deg, rgb(85, 85, 85), rgb(36, 35, 35));
    color: white;
    border: solid 1px grey;
    padding: 7px;
 }

.db1 table .datarow{
    background-color: rgb(238, 238, 238);
    height: 46px;
}
.db1 table .datarow:nth-child(odd){
    background-color: white;
}

.db1 table .selectedrow:nth-child(odd) td , 
.db1 table .selectedrow:nth-child(even) td {
    background-color: rgb(184, 255, 184);
    color:green;
    box-shadow: 0px 0px 1px 1px green;
}

.db2{
    width:auto; /*which is a fixed size because .db{display:flex} makes .db2 intrensic ([width:max-content] does the same)*/
}
.db2 .form{
    font-family: Rajdhani-Regular;
    color:white;
    border: solid 1px grey;
    border-radius: 0px 20px 20px 0px;
    min-height: 418px;
    display: flex; /* align .data|.ppd */
}
.form .data {
    background-image:linear-gradient(180deg, rgb(85, 85, 85), rgb(36, 35, 35));
}  
.form .data table td{
    padding:8px 4px;
    background-image:linear-gradient(180deg, rgb(85, 85, 85), rgb(36, 35, 35));
}  
.agetr td{
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;
}
.form .data table input{
    width:100%;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
}
.form .data table img{
    background-color:gray;
    border: solid 1px;
    border-radius: 10px;
    cursor: pointer;
    width: 250px;
    height: 250px;
}
.form .data table input[type="button"]{
    font-family: Rajdhani-Regular;
    font-weight: bold;
    font-size: 0.9rem;
}
.form .data table .error{
    color: pink;
}

.form .ppd{
    background-color: rgb(73, 73, 73);
    border-radius: 0px 20px 20px 0px;
    border-left:solid 1px black;
    overflow: hidden;
    display: grid; /* align buttons */
    grid-template-columns: 0.7fr; /* align buttons */
}
.form .ppd .btn{
    font-family: Rajdhani-Regular;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
    transition-property: transform;
    transition-duration: 250ms;
    border: solid 2px;
    background-repeat: no-repeat;
    background-position: 90% center;
    margin-left:-100%;
    overflow: hidden;
    background-image: linear-gradient(90deg,#e3e3e3 0%,
                                            #e3e3e3 50%,
                                            #b6b6b6 100%
                                    ) ;
}
.form .ppd .btn:hover{
    transform: translateX(15%);
}

.form .ppd .btn .flash{ 
    width: 40px;
    font-size: 1.2rem;
    letter-spacing: 3px;
}
.form .ppd .post .flash{/* (this is not how it should be done) */
    transform: rotateZ(90deg) translate(-30%,-30%);
}.form .ppd .put .flash{
    transform: rotateZ(90deg) translate(-40%,-30%);
}.form .ppd .delete .flash{
    transform: rotateZ(90deg) translate(-35%,-30%);
}

.form .ppd .post{
    color: green;
    border-color: green;
    background-color: rgb(221, 221, 221);  
}
.form .ppd .put{
    color: rgb(87, 72, 221);  
    border-color: rgb(87, 72, 221);  
    background-color: rgb(221, 221, 221);  
}
.form .ppd .delete{
    color: rgb(207, 72, 72);
    border-color: rgb(207, 72, 72);
    background-color: rgb(221, 221, 221);  
}

.offcanvas{
    background-color: black;
    color:white;
    font-family: monospace;
    white-space: pre-line;
    text-align: left;
    width: 100%;
    height: 25%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    overflow: auto;
}
.upbtn{
    cursor: pointer;
    width: 50px;
}

/*-------------- animate popup-------------*/
@keyframes anim{
    0%{transform: translateY(-50px); opacity: 0;}
    50%{transform: translateY(10px); opacity: 1;}
    100%{transform: translateY(0); opacity: 1;}
}
.popup-enter-active{
    animation: anim 250ms;
}
.popup-leave-active{
    animation: anim 250ms reverse;
}
/*-------------- animate tables -------------*/
@keyframes anim2{
    0%{transform: translateX(-100px); opacity: 0;}
}
.table-enter-active{
    animation: anim2 300ms ease-in;
}
.table-leave-active{ /* not having the leaving row, else table will have limit+1 and pushes down title of next DB */
    position:absolute;
    opacity: 0;
}
/* ------------- automatically numbered rows -------------*/
.db1 table {
counter-reset: rowNumber -1;
}
.db1 table tr {
counter-increment: rowNumber;
}
/*---toggle--*/
/* .db1 table tr td:nth-child(2)::before {
content: counter(rowNumber);
} */
/* ------------- class declarations -------------*/
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}