@font-face {
    font-family: Rajdhani-Bold;
    src: url('/public/styles/fonts/Rajdhani-Bold.ttf');
}
@font-face {
  font-family: Rajdhani-Light;
  src: url('/public/styles/fonts/Rajdhani-Light.ttf');
}

header{
    background-image: linear-gradient(180deg, rgb(85, 85, 85), rgb(36, 35, 35));
    border-bottom: solid 2px #a5992a;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    z-index: 200;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

header .hamburgerButton{
    cursor: pointer;
    width: 50px;
    height: 100%;
    padding: 10px 10px;
    color: white;
    border: solid 1px white;
    font-size: 2rem;
    display: none;
}
header .hamburgerButton:hover{
    background-image: linear-gradient(180deg, rgb(133, 133, 133), rgb(59, 59, 59)) ;
}

header .logo{
    width:180px;
    margin-right: auto;
}
header .logo img{
    width: 110px; 
}

.user{
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 8px;
    width: 230px;
}

header .username{
    text-shadow: 0px 0px 4px blue;
    font-style: italic;
    color: white;
    font-size: clamp( 0.2rem , 4vw + 0.2rem , 1.3rem );
}

header nav{
    height: 100%;
    display: flex; /* align links */
    justify-content: flex-end;
    align-items: center;

}
header nav a{
    color: white;
    font-family: Rajdhani-Light, sans-serif;
    font-size: 1.3rem;font-weight: bold;
    text-decoration: none;
    border-left: solid 1px gray;
    border-radius: 10px 0 0 0;
    position: relative;
    height: 100%;
    display:flex; align-items: center; /* align text in links */
    text-align: center;
}
header nav a:hover{
    background-image: linear-gradient(180deg, rgb(133, 133, 133), rgb(59, 59, 59)) ;
}

main {
    margin-left: 182px;
}

.side{
    font-family: Rajdhani-Light, sans-serif;
    border-right: solid 3px;
    border-bottom: solid 1px;
    background-image: linear-gradient(90deg, rgb(49, 49, 49), rgb(36, 35, 35) 90%);
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    width: 180px;
    padding-top: 2vh;
}

.side h2{
    text-shadow: 0px 0px 5px blue;
    color: white;
    font-size: 1.5rem;
    margin: 1px auto;/*not to have to change "marging-bottom" */
    margin-top: 1vh;
}

.side .devider{
    border-bottom: solid 1px #a5992a;
    width : 75%;
    margin: 1vh auto;
    padding: 1vh 0px;
}

.side input{
    border-radius: 20px;
    text-align: center;
}

.limit:invalid{
    background-color: pink;
}

.side .touchableinput{
    height:26px;
}

.offcanvas{
    background-color: black;
    color:white;
    white-space: pre-line;
    text-align: left;
    height: 160px;
    position: fixed;
    bottom: 0px;
    left: 180px;
    right:0;
    overflow: auto;
}
.offcanvasbtn{
    cursor: pointer;
    width: 50px;
    margin-top: 10px;
}
.copybtn, .closebtn, .codetheme{
    padding:2px;
    font-size: 1rem;
    color:rgb(75, 75, 75)
}
.copybtn:hover, .closebtn:hover, .codetheme:hover{
    color:black;
}
.copybtn:active{
    background-color:rgb(151, 196, 199);
}
.closebtn{
    background-color:rgb(214, 177, 183);
    color: rgb(240, 75, 75);
}
.CodeMirror{
    height: 130px !important;
    border-bottom: white double 2px;
}
/*---------------------media query------------------------------------------*/

@media only screen and (max-width: 650px){

    .side{
        font-family: Rajdhani-Light, sans-serif;
        border-right: solid 3px;
        border-bottom: solid 1px;
        background-image: linear-gradient(90deg, #31313180, #24232380 90%);
        position: fixed;
        left:-1000px;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100vh;
        width: 180px;
        padding-top: 2vh;
        transition-duration: 250ms;
        transition-property: left;
    }
    .nosidebar{
        left:0;
        transition-duration: 250ms;
        transition-property: left;
    }

    main{
        margin:auto;
        margin-left:'0px';
    }

    header p{
        display:none;
    }
    header .logo{
        display:none;
    }
    header .hamburgerButton{
        display:block;
    }
    header nav{
        width:100%;
        gap:4px;
    }
    header nav a{
        border-radius: 0 0 0 0;
    }
    .offcanvas{
        left: 0px;
        height: 160px;
    }
    .page-item-arrow{
        display:none;
    }

    .user{
        border-left:none;
        width: auto; 
    }
}